<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @help.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @help.description %>
</p>

<p>
  <strong>First name:</strong>
  <%= @help.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @help.last_name %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @help.payment_status %>
</p>

<p>
  <strong>Question status:</strong>
  <%= @help.question_status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @help.email %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @help.invoice %>
</p>

<%= link_to 'Edit', edit_help_path(@help) %> |
<%= link_to 'Back', helps_path %>
